@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

$meme: url('../images/meme.jpg');

body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: black;
  color: white;
}

header h1 {
  text-align: center;
  color: red;
  margin: 1rem;
}

.meme {
  content: $meme;
  width: 50%;
}
