@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: black;
  color: white;
}

header h1 {
  text-align: center;
  color: red;
  margin: 1rem;
}
